<div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
    
          <div class="col-xl-12 col-lg-12 col-md-12">
                <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Creditos</h1>
            </div>
            <hr class="sidebar-divider">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h2 mb-0 text-gray-800">Autor: <small>Edison Calderon</small> </h1>
            </div>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h2 mb-0 text-gray-800">Git: <small>git@github.com:edisonc2h/challengeEmployees.git</small> </h1>
            </div>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h2 mb-0 text-gray-800">Email: <small>provedatos.edisoncalderon@gmail.com </small> </h1>
            </div>
    
          </div>
    
        </div>
    
      </div>