  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-12 col-lg-12 col-md-12">
            <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Listado</h1>
        </div>
            <!-- Nested Row within Card Body -->
              <form class="needs-validation" novalidate="">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="names" placeholder="Nombre" ng-model="buscar_info.names">
                  </div>
                  <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="identification" placeholder="Cedula" ng-model="buscar_info.identification">
                  </div>
                  <div class="col-md-2 mb-3">
                    <button class="btn btn-primary btn-sm" type="button" ng-click="buscar()">Buscar</button>
                  </div>
                  <div class="col-md-2 mb-3">
                    <button class="btn btn-success btn-sm" type="button" ng-click="ingresar()">Ingresar</button>
                  </div>
                </div>
              </form>
            <div class="row">
              <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">C&eacute;dula</th>
                  <th scope="col">Cargo</th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="employee in employees">
                  <th ng-click="edit_employee(employee)">{{employee.names + ' '+ employee.surnames}}</th>
                  <td ng-click="edit_employee(employee)">{{employee.personal_identification}}</td>
                  <td ng-click="edit_employee(employee)">{{employee.position}}</td>
                  <td ng-click="edit_employee(employee)">{{employee.name_status}}</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="delete_employee(employee)"><i class="fas fa-trash-alt"></i> </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

      </div>

    </div>

  </div>