<div id="content">
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Crear Nuevo Empleado</h1>
  </div>
<form class="needs-validation" name="formEmployee" role="form" validate-form="ingresar()" novalidate="">
  <div class="container mt-3">
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-target="#datos_personales" data-toggle="tab" >Datos Personales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-target="#datos_laborales" data-toggle="tab" >Datos Laborales</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="datos_personales" class="container tab-pane active"><br>
      <div class="row">
          <div class="col-md-6 mb-3">
            <label for="names">Nombres</label>
            <input type="text" class="form-control" name="names" id="names" placeholder="" required validation ng-model="employee.names">
          </div>
          <div class="col-md-6 mb-3">
            <label for="apellidos">Apellidos</label>
            <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="" required validation ng-model="employee.surnames">
          </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cedula">C&eacute;dula</label>
              <input 
                type="text" 
                class="form-control input-sm" 
                name="cedula" 
                id="cedula"
                maxlength="13"
                id-Card
                placeholder="" 
                required 
                validation 
                ng-model="employee.personal_identification"
                ng-blur="validar_si_existe_identificacion(employee.personal_identification)"
                >
            </div>

            <div class="col-md-6 mb-3">
                <label for="province_personal">Provincia</label>
                <select 
                class="custom-select d-block w-100" 
                id="province_personal"
                name="province_personal" 
                required
                validation
                ng-model="employee.id_province"
                ng-options="province.id as province.name_province for province in provincias"
                >
                </select>
              </div>
          </div>

        <div class="row">
            <div class="col-md-6 mb-3">
              <label for="fecha_nacimiento">Fecha de Nacimiento</label>
              <input type="date" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="" ng-model="employee.birth_date">
            </div>
            <div class="col-md-6 mb-3">
              <label for="email">Email</label>
              <input 
                type="text" 
                class="form-control input-sm" 
                name="email" 
                id="email" 
                is-email 
                required 
                validation 
                placeholder="you@example.com" 
                ng-model="employee.email"
                autocomplete="off">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="obsercacion_personal">Observaciones</label>
              <input type="text" class="form-control" id="observacion" placeholder="Comentario u observacion referente a la ficha personal" ng-model="employee.observation" autocomplete="off">
            </div>
            <div class="col-md-6 mb-3">
              <label for="imagen">Fotograf&iacute;a </label>
              <input type="file" class="form-control" id="imagen" placeholder="" ng-model="employee.image">
            </div>
          </div>
    </div>



    <div id="datos_laborales" class="container tab-pane fade"><br>
      <div class="row">
          <div class="col-md-6 mb-3">
            <label for="fecha_ingreso">Fecha de Ingreso</label>
            <input type="date" class="form-control" id="fecha_ingreso" name="fecha_ingreso" required validation ng-model="employee.start_date" placeholder="">
          </div>
          <div class="col-md-6 mb-3">
            <label for="cargo">Cargo</label>
            <input type="text" class="form-control" required validation id="cargo" name="cargo" placeholder="" ng-model="employee.position" autocomplete="off">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="departamento">Departamento</label>
            <input type="text" class="form-control" id="departamento" name="departamento" placeholder="" ng-model="employee.department" autocomplete="off">
          </div>

          <div class="col-md-6 mb-3">
              <label for="province_laboral">Provincia</label>
              <select 
              class="custom-select d-block w-100" 
              id="province_laboral" 
              ng-model="employee.id_working_province"
              ng-options="province.id as province.name_province for province in provincias"
              >
              </select>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="sueldo">Sueldo</label>
            <div class="input-group">
              <input type="number" class="form-control" required validation id='salary' name='salary' placeholder="" aria-label="Input group example" aria-describedby="btnGroupAddon" ng-model="employee.salary">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon">$</div>
                </div>
              </div>
          </div>

          <div class="col-md-6 mb-3">
              <label class="col-md-12 mb-6" for="jornada">Jornada Parcial</label>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="S" ng-model="employee.part_time">
                  <label class="form-check-label" for="inlineRadio1">Si</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="N" ng-model="employee.part_time">
                  <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-6">
            <label for="obsercacion_laboral">Observaciones</label>
            <input type="text" class="form-control" id="obsercacion_laboral" placeholder="Comentario u observacion referente a la ficha laboral" ng-model="employee.labor_observation">
          </div>
        </div>
    </div>
    
  </div>
  <br>
  <div class="row justify-content-md-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="click" class="btn btn-danger">Cancelar</button>
  </div>
</div>  
</form>
</div>
</div>