<style>
.reporte {
font-size: 10px;
}
</style>
<!-- Main Content -->
<div id="content" class="d-flex flex-column">

  <!-- Begin Page Content -->
  <div class="container-fluid reporte">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Reporte Empleados</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table ng-table="employeesTable" class="table table-condensed table-bordered table-striped" show-filter="true">
          <tr ng-repeat="employee in $data">
            <td data-title="'Nombres'" sortable="'names'">{{employee.names}}</td>
            <td data-title="'Apellidos'" sortable="'surnames'">{{employee.surnames}}</td>
            <td data-title="'Identificacion'" sortable="'personal_identification'">{{employee.personal_identification}}</td>
            <td data-title="'Email'" sortable="'email'">{{employee.email}}</td>
            <td data-title="'Fecha Nacimiento'" sortable="'birth_date'">{{employee.birth_date}}</td>
            <td data-title="'Fecha Ingreso'" sortable="'start_date'">{{employee.start_date}}</td>
            <td data-title="'Cargo'" sortable="'position'">{{employee.position}}</td>
            <td data-title="'Departamento'" sortable="'department'">{{employee.department}}</td>
            <td data-title="'Sueldo'" sortable="'salary'">{{employee.salary}}</td>
            <td data-title="'Jornada Parcial'" sortable="'part_time'">{{employee.part_time}}</td>
            <td data-title="'Estado'" sortable="'name_status'">{{employee.name_status}}</td>
          </tr>
              <!-- <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">C&eacute;dula</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Fecha Ingreso</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Sueldo</th>
                    <th scope="col">Jornada Parcial</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="employee in employees">
                    <th>{{employee.names + ' '+ employee.surnames}}</th>
                    <td>{{employee.personal_identification}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.birth_date}}</td>
                    <td>{{employee.start_date}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.department}}</td>
                    <td>{{employee.salary}}</td>
                    <td>{{employee.part_time}}</td>
                    <td>{{employee.name_status}}</td>
                  </tr>
                </tbody> -->
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->